/* CSS Document */
/***************** UPRAVA STYLU TLAC****************************/
/* Skrytie neziadanych elemtov */
#head {display: none}
#menu {display: none}
#side_menu {display: none}
#footer {display: none}
#formular {display: none}
#aktuality {display: none}
/*****************************************************/
/*body {background-color: #E0E0E0}*/
/******************************************************/

/***********************************************************/

#main {
  font-family: Arial, Verdana, sans-serif; }

/**************************************************************/

/*************************************************************/
/***************************************************************/

img.knihy {
  width: 70px; 
  height: 90px; 
  float: left;
  }
img.mesto {
  width: 500px; 
  height: 300px; 
  float: right;
  margin: 10px
  }
/******************************************************************/

.knihy {margin: 5px}
.cena {font-style: italic;}
.uvod {margin-right: 16%}

/*****************************************************************/
/******************************************************************/

#content {
  background: white; 
  margin-bottom: 5px; 
  padding: 10px; 
  font-size: 90%
  }         

/********************************************************************/
li a {text-decoration: none; color: #627AAd}

#SEO ul{padding: 10px; margin-left: 20px}

table {
  border-collapse: collapse; 
  border: #627AAD solid 1px
  }
table *{
  border: #627AAD solid 1px; 
  padding: 10px
  }

dt {font-weight: bold;}

/************************************************************************/
/************************************************************************/
/* CSS Document *//* CSS Document */