/* CSS Document */
body {background-color: #E0E0E0}
/******************************************************/
#head * {margin: 0; padding: 0}
#head{
  background: url('itw2-book.png') white no-repeat right;
  height: 130px; 
  margin: 0; padding: 0;}

/* Vlozenie loga ako odkazu*/
#head a 
{
  text-decoration: none;
  background: url('ITW2_header.png') no-repeat left;
  position:relative; z-index: 10;
  display: block; 
  height: inherit; width: inherit;
  margin: 0; padding:0; 
}
/*Zneviditelnenie textu odkazu*/
#head span {visibility: hidden;}

/*Uprava rozmerov nadpisu*/
#head h1 
{
  margin: 0 ; padding: 0;
  height: inherit; width:inherit;
}
/***********************************************************/

#main {
  width: 80%;
  min-width: 640px;
  margin: 0 auto; padding: 0;
  font-family: Arial, Verdana, sans-serif; }

/**************************************************************/
#menu li 
{
  text-decoration: none;
  display: inline;
  line-height: 1em;
  padding: 0 1em; margin: 4em 0
  }
  
#menu a 
{
  text-decoration: none; 
  color: white; 
  font-weight: bold
}
#menu a:hover {text-decoration:underline}

/* Centrovanie textu a uprava rozmerov, nastavenie pozadia zoznamu*/
#menu ul 
{
  text-align: center; 
  background: url('menu_back.png') #627AAD repeat-x bottom left;
  min-height: 1em;
  padding: 5px 0  ; margin: 0
}

/*************************************************************/

#aktuality {
  float: right; 
  width: 20%; 
  min-width: 100px; 
  margin: 1%; 
  padding: 10px
  }
  
#aktuality h3 {
  color: #627AAD; 
  border-bottom: 2px solid #627AAD
  }

#side_menu {
  float: left; 
  width: 12%; 
  margin: 1%; 
  padding: 10px; 
  }

#obsah {margin-left: 17%}
/***************************************************************/

img.knihy {
  width: 70px; 
  height: 90px; 
  float: left;
  }
img.mesto {
  width: 500px; 
  height: 300px; 
  float: right;
  margin: 10px
  }
/******************************************************************/

.knihy {margin: 5px}
.cena {font-style: italic;}
.uvod {margin-right: 24%}

/*****************************************************************/
#clear {clear: both}
/******************************************************************/

#content {
  border: solid 1px #627AAD; 
  background: white; 
  margin-bottom: 5px; 
  padding: 10px; 
  font-size: 90%
  }         

/********************************************************************/
#side_menu li {
  padding-bottom: 5px; 
  font-size: 100%
  }
#side_menu ul {margin: 0; padding: 0}
#side_menu ul {padding-top: 50px}

li a {text-decoration: none; color: #627AAd}

#SEO ul{padding: 10px; margin-left: 20px}

table {
  border-collapse: collapse; 
  border: #627AAD solid 1px
  }
table *{
  border: #627AAD solid 1px; 
  padding: 10px
  }

dt {font-weight: bold;}

/************************************************************************/
label {
    font-weight: bold;
    float: left;
    width: 6em;
} 

/************************************************************************/
#footer {
  clear: both;
  text-align:center; 
  font-size: 75%;  }

#footer p:first-child {border: none}                  
#footer p{border-left: solid 1px black; padding: 0 10px;}

/* Zobrazenie textu inline, nastavenie fontu*/         
#footer p {display: inline;}
/*Uprava vzhladu odkzzu */
#footer a 
{
  color: black
}
/**********************************************************/
/*------------------ Pre JavaScript -----------------------*/
.closed {display: none}
